@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: #000000;
    --accent: #2563eb;

    /* Map cho Tailwind v4 */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);
    --color-primary: #2563eb;
    --color-secondary: #059669;
    --color-success: #7c3aed;
    --color-warning: #f59e0b;
    --color-danger: #ef4444;
}

.dark {
    --background: #000000;
    --foreground: #ffffff;
    --accent: #3b82f6;

    /* Map cho Tailwind v4 */
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-accent: var(--accent);

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
    --color-primary: var(--color-primary);
    --color-secondary: var(--color-secondary);
    --color-success: var(--color-success);
    --color-warning: var(--color-warning);
    --color-danger: var(--color-danger);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
